---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$main_color: #f44336;
$background_color: #FAF8F6FF;

// Our variables
$spacing-unit:     10px;
$image-size:       50px;
$icon-size:        15px;


// Sizes
$on-palm:          768px;

a {
  color: $main_color;
  border-color: $main_color;
  border-bottom: 0px;
}

a:hover {
  background: $main_color;
}

.hack {
  background: $background_color;

  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.05rem;
  }
}
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "styles",
        "highlight"
;

// workaround to hide Excalidraw toolbar
.excalidraw .App-bottom-bar > .Island {
  display: none !important;
}

.excalidraw {
  border: 1px dashed;
  border-radius: 10px;
}

.excalidraw-canvas-wrapper {
  margin-bottom: 10px;
}

.t-hackcss-social+.t-hackcss-social {
  padding: 0px !important;
}

.label_box {
  display: inline-block;
  border: 1px solid;
  padding: 0px 5px 0px 5px;
  margin: 2px 0px 2px 0px;
  line-height: 1.8rem;
  border-radius: 5px;
  background-color: #5b6396;
  color: #ffffff;
}

.label_box.active{
  background: $main_color;
  color: white;
}

.group_label {
  line-height: 2rem;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.token.operator {
  background: transparent !important;
}

#cursor {
  margin-left: 5px;
  animation: blink 1s infinite;
}
.hack h1 {
  overflow: visible;
}

.hack h1:after {
  content: "=";
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: processing 20s infinite steps(20);
}

@keyframes processing {
    0% { content: ""; }
    5% { content: "="; }
    10% { content: "=="; }
    15% { content: "==="; }
    20% { content: "===="; }
    25% { content: "====="; }
    30% { content: "======"; }
    35% { content: "======="; }
    40% { content: "========"; }
    45% { content: "========="; }
    50% { content: "=========="; }
    55% { content: "==========="; }
    60% { content: "============"; }
    65% { content: "============="; }
    70% { content: "=============="; }
    75% { content: "==============="; }
    80% { content: "================"; }
    85% { content: "================="; }
    90% { content: "=================="; }
    95% { content: "==================="; }
    100% { content: "===================="; }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}
