<section>
  <h1>AWS Analytic</h1>
  <p>
    {{ page.test }} hahahaha {{ page.permalink }} AWS provides the multiple services for the analytic purpose, here is some important documentation to remember
  </p>
</section>
<section>
  {% assign collection222 = (site.collections | where: "label", page.permalink | first) %}
  {% for item in collection222 %}
  {% assign collection_path = "_" | append: item.collection | append: '/' %}
  <div class="media t-hackcss-media">
    <div class="media-body">
      <div class="media-heading">
          <span>&raquo;
            <a href="{{ item.url | prepend: site.baseurl }}">
              {{ item.path | remove: collection_path |remove: '.md'  }}
            </a>
          </span>
      </div>
      <div class="media-content">
        {{ item.description }}
      </div>
    </div>
  </div>
  {% endfor %}
  {% assign collection3333 = collection222 | first %}
  Tesstitngngngngng2131231212313312 {{ collection3333 }}
  Tesstitngngngngng {{ collection3333.collection }}
</section>
