<section>
  <h1>{{ page.collection_name }}</h1>
  <p class="hacked-paragraph">
    {{ page.description }}
  </p>
</section>
<section>
  {% for item in site[page.permalink] %}
  {% assign collection_path = "_" | append: item.collection | append: '/' %}
  <div class="media t-hackcss-media">
    <div class="media-body">
      <div class="media-heading">
          <span>▢
            <a href="{{ item.url | prepend: site.baseurl }}">
              {{ item.path | remove: collection_path |remove: '.md'  }}
            </a>
          </span>
      </div>
      <div class="media-content">
        {{ item.description }}
      </div>
    </div>
  </div>
  {% endfor %}
</section>

<script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
