---
layout: default
---
<head>
  <title>Excalidraw in browser</title>
  <meta charset="UTF-8" />
  <script src="https://cdn.jsdelivr.net/npm/react@18.2.0/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/@excalidraw/excalidraw@0.17.3/dist/excalidraw.production.min.js"
  ></script>
</head>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}<span id="cursor">_</span></h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
            class="media-heading">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>

      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
</article>
